<h1>Sign up Now! for 100+ free musics</h1>
<!-- <img src="assets/music1.jpg" alt="music" style="width:300px;height:200px;"> -->
<%= render "shared/form", action: users_url, method: "post"%>
<%= link_to "Sign in", new_session_url, method: :get %>
